<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Chat</title>
    <link rel="shortcut icon" href="./images/logo_favicon/favicon-trungquandev.png" />

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./bower_components/AlertifyJS/build/css/alertify.css">
    
    <link href="./css/auth.css" rel="stylesheet" />

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="./js/authConfig.js" type="text/javascript"></script>
    <script src="./js/uploadimage.js" type="text/javascript"></script>
    <script src="./js/updatepassword.js" type="text/javascript"></script>
</head>