<div id="password-profile" class="tab-pane fade">
    <div id="alert-error" class="alert alert-danger alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <span id="text-span-error"> </span><br>
        <!-- <script>openProfilePasswordModal();</script> -->
    </div>

    <div id="alert-success" class="alert alert-success alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <span id="text-span-success"> </span><br>
        <!-- <script>openProfilePasswordModal();</script> -->
    </div>
  <div class="col-md-9 personal-info">
      <h3>Thay đổi mật khẩu</h3>
      <br>
      <form class="form-horizontal" method="post" role="form" action="">
          <div class="form-group">
              <label class="col-md-4 control-label">Mật khẩu cũ</label>
              <div class="col-md-8">
                  <input class="form-control" type="password" id="passwordold" name="current_password" placeholder="Enter your curent password..." required>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-4 control-label">Mật khẩu mới</label>
              <div class="col-md-8">
                  <input class="form-control" id="passwordnew" type="password" name="new_password" placeholder="Enter new password..." required>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-4 control-label">Nhập lại mật khẩu mới</label>
              <div class="col-md-8">
                  <input class="form-control" id="passwordnewconfirm" type="password" name="confirm_new_password" placeholder="Enter confirm new password..." required>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-8">
                  <input type="button" id="save-password" class="btn btn-primary custom-background-btn-primary" value="Lưu lại">
                  <span></span>
                  <input type="button" id="cancel-password" class="btn btn-default custom-background-btn-reset" value="Hủy bỏ">
              </div>
          </div>
      </form>
  </div>
</div>